input[class^="Input"] { 
    height: 2em;
    float: left;
}

input[class^="ErrorInput"] { 
    height: 2em;
    border: 1px solid #d1412e;
    border-radius: 2px;
    float: left;
}

input[class*="Input-big"]{
    width: 100%;
    min-width: 120px;
}

input[class*="Input-medium"]{
    width: 35%;
    min-width: 100px;
}

input[class*="Input-small"]{
    width: 10%;
    min-width: 80px;
    
}

input[class*="InputDate"]{
    width: 30%;
    min-width: 100px;
    display: inline-block;
}

.ErrorTextArea{
    border: 1px solid #d1412e;
    border-radius: 5px;
    width: 100%;
    min-width: 120px;
    float: left;
}
.TextArea {
    width: 100%;
    min-width: 120px;
    float: left;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.RadioInput {
    padding: 0.5em 0.5em 0.5em 0;
    color:#b0b0b5;
    font-size: 14px;
   float:left;
}
.Paragraph{
    font-size: 12px;
    color: #b0b0b5;
    font-style: italic;
}

