.Input-big {
    height: 2em;
    width: 100%;
    min-width: 120px;
    float: left;
}
.Input-medium {
    height: 2em;
    width: 35%;
    min-width: 100px;
    float: left;
}
.Input-small {
    height: 2em;
    width: 10%;
    min-width: 80px;
    float: left;
}
.InputDate{
    height: 2em;
    width: 30%;
    min-width: 100px;
    float: left;
}
.TextArea {
    width: 100%;
    min-width: 120px;
    float: left;
}
.RadioInput {
    padding: 0.5em 0.5em 0.5em 0;
    color:#b0b0b5;
    font-size: 14px;
    float: left;
}