.additional-input-descpription {
    font-size: 14px;
    color: #1a1a1a;
    padding-top: 0.7em;
    padding-left: 0.7em;
    padding-right: 0.7em;
    float: left;
}

span.red-star{
    color: #ff3333;
}